@font-face {
  font-family: "AmericanCaptain";
  src: url("/fonts/AmericanCaptain.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QuestrialRegular";
  src: url("/fonts/Questrial-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #FFF !important;
  font-size: 16px !important;
  font-family: QuestrialRegular;
}

h1, h2 {
  font-family: AmericanCaptain;
  font-weight: normal;
  color: #fff;
  line-height: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.375em;
}

a {
  color: #222;
  text-decoration: underline;
  line-height: 1.5em;
}

a:hover {
  color: #222;
  font-size: 1em;
  font-weight: bolder;
}

hr {
  margin-bottom: 2em;
}

label, .more-about {
  font-family: AmericanCaptain;
  font-size: 1.75em;
  line-height: 1.25em;
  margin-bottom: .5em;
}

ul {
  margin-left: 0;
  list-style: none;
  font-size: 1.125em;
  line-height: 2em;
}

.row {
  max-width: 1280px;
}

.row .row {
  margin: 0;
}

.columns {
  padding: 0;
}

.row.header {
  max-width: 100%;
  min-height: 20em;
  background-image: url("/img/SecondAve.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 8em 2em 0;
}

.row.main-content {
  padding: 2em;
  margin-bottom: 4em;
}

.row.main-content img {
  margin-bottom: .25em;
}

.row.filter-row {
  margin: 0 -.5em 2em;
}

#loading {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  background-image: url("/img/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
}

img.head-shot {
  width: 100%;
  max-width: 480px;
}

p.name {
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 1em 0 .25em;
}

p.company {
  font-size: 1.125em;
  line-height: 1.25em;
  margin: .25em 0;
  font-weight: 500;
}

.row.bar {
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid #DDD;
}

.row.title {
  font-family: AmericanCaptain;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #4d4d4d;
}

.specials {
  padding-right: 1em;
}

.location-and-contact {
  font-size: 1.125em;
  line-height: 1.5em;
}

a.place-name {
  font-size: 1.125em;
  line-height: 1.5em;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .bio {
    text-align: center;
  }
}

@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2em;
  }

  .row.header {
    padding-top: 6em;
  }

  .row.filter-row {
    margin-bottom: 1em;
  }

  .row.title {
    margin-bottom: .5em;
  }
}
